body
{
    padding : 0px;
    margin : 0px;
    border : 0px;
    font-family : courier;
    font-size : 12px;
    font-weight : bold;
    color : white;
    background-color : black;
}

div#canvaswrapper
{
    position : absolute;
    height : 100%;
    left : 210px;
    right : 310px;
}

#screen
{
    position : absolute;
    top : 0px;
    width : 100%;
    height : 100%;
}

div#main
{
    position : absolute;
    top : 0px;
    left : 0px;
    right : 0px;
    bottom : 250px;
}

div#logsection
{
    position : absolute;
    bottom : 0px;
    height : 250px;
    width : 100%;
}

div#logtabs
{
    width : 100%;
    height : 18px;
    border : 1px solid white;
}

div.logtab
{
    width : 100px;
    height : 17px;
    color : white;
}

div#logpanel
{
    position : absolute;
    bottom : 0px;
    height : 230px;
    width : 100%;
    overflow : scroll;
}

div#logpanel div.logentry
{
    height : 12px;
    width : 100%;
    clear : both;
}

div#logpanel div.logentry.debug
{
    color : white;
}

div#logpanel div.logentry.exception
{
    color : red;
}

div#logpanel div.logentry div.time
{
    width : 10%;
    float : left;
}

div#logpanel div.logentry div.name
{
    width : 10%;
    float : left;
}

div#logpanel div.logentry div.type
{
    width : 10%;
    float : left;
}

div#logpanel div.logentry div.msg
{
    width : 69%;
    float : left;
}

div#controls
{
    position : absolute;
    top : 0px;
    left : 0px;
    width : 210px;
    height : 100%;
}

div#admin_actor_panel
{
    position : absolute;
    top : 0px;
    left : auto;
    right : 0px;
    width : 310px;
    height : 100%;
    overflow : scroll;
}

div#admin_actor_panel div.title
{
    height : 12px;
    width : 290px;
    background-color: darkblue;
}

div#admin_actor_panel div.section
{
    margin : 5px;
}

div#admin_actor_panel div.info
{
    border : 1px solid black;
    height : 16px;
    width : 200px;
}

div#admin_actor_panel div.info div.key
{
    width : 98px;
    float : left;
    height : 15px;
    white-space: nowrap;
}

div#admin_actor_panel div.info div.value
{
    width : 100px;
    float : left;
    height : 15px;
    white-space: nowrap;
}

div.actor_list
{
    position : absolute;
    top : 10px;
    left: 10px;
    width : 200px;
    max-height : 100%;
    overflow : none;
    background-color : black;
    border : 1px solid darkgrey;
}

div.selected_actor_list
{
    position : absolute;
    top : 10px;
    right : 10px;
    width : 200px;
    max-height : 100%;
    overflow : scroll;
    background-color : darkblue;
}

div.selected_actor_list div.actor
{
    border : 1px solid black;
    background-color : black;
}

div.selected_actor_list div.actor:hover
{
    cursor : pointer;
    border : 1px solid white;
}
