body
{
    padding : 0px;
    margin : 0px;
    border : 0px;
    font-family : courier;
    font-size : 12px;
    font-weight : bold;
    color : white;
    background-color : black;
}

div#canvaswrapper
{
    position : absolute;
    height : 100%;
    left : 210px;
    right : 210px;
}

#screen
{
    position : absolute;
    top : 0px;
    width : 100%;
    height : 100%;
}

div#main
{
    position : absolute;
    top : 0px;
    left : 0px;
    right : 0px;
    bottom : 200px;
}

div#logpanel
{
    position : absolute;
    bottom : 0px;
    height : 200px;
    width : 100%;
    overflow : hidden;
    scroll : none;
}

div#controls
{
    position : absolute;
    top : 0px;
    left : 0px;
    width : 210px;
    height : 100%;
}

div#admin_actor_panel
{
    position : absolute;
    top : 0px;
    left : auto;
    right : 0px;
    width : 210px;
    height : 100%;
    overflow : scroll;
}

div#admin_actor_panel div.title
{
    height : 12px;
    width : 190px;
    background-color: darkblue;
}

div#admin_actor_panel div.section
{
    margin : 5px;
}

div#admin_actor_panel div.info
{
    border : 1px solid black;
    height : 16px;
    width : 200px;
}

div#admin_actor_panel div.info div.key
{
    width : 98px;
    float : left;
    height : 15px;
    white-space: nowrap;
}

div#admin_actor_panel div.info div.value
{
    width : 100px;
    float : left;
    height : 15px;
    white-space: nowrap;
}
