body
{
    padding : 0px;
    margin : 0px;
    border : 0px;
    font-family : courier;
    font-size : 12px;
    font-weight : bold;
    color : white;
    background-color : black;
}

div#canvaswrapper
{
    position : absolute;
    height : 100%;
    left : 150px;
    right : 150px;
}

#screen
{
    position : absolute;
    top : 0px;
    width : 100%;
    height : 100%;
}

div#main
{
    position : absolute;
    top : 0px;
    left : 0px;
    right : 0px;
    bottom : 150px;
}

div#logpanel
{
    position : absolute;
    bottom : 0px;
    height : 150px;
    width : 100%;
    overflow : hidden;
    scroll : none;
}

div#controls
{
    position : absolute;
    top : 0px;
    left : 0px;
    width : 150px;
    height : 100%;
}

div#selected_actor
{
    position : absolute;
    top : 0px;
    left : auto;
    right : 0px;
    width : 150px;
    height : 100%;
}

