server {
    listen 80;
    server_name rooms_master.localhost;
    access_log /var/log/nginx/rooms_master.access.log;
    error_log /var/log/nginx/rooms_master.error.log;

    location / {
        root /data/www/master;
    }

    location /master {
        proxy_pass        http://localhost:9000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
    }

    location /_list_methods {
        proxy_pass        http://localhost:9000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
    }

}
