
body
{
    border : 0;
    padding : 0;
    margin : 0;
    font-family: courier;
    font-size : 10px;
    font-weight : bold;
    color : white;
}

div#mapeditor
{
    margin : 0px;
    padding : 0px;
    border : 0px;
    position : absolute;
    top : 0px;
    bottom : 0px;
    left : 0px;
    right : 0px;
    background-color : darkblue;
}

div#mainmap 
{
    position : absolute;
    top : 40px;
    left : 70px;
    bottom : 10px;
    right : 320px;
    background-color : black;
}

div#controls
{
    position : absolute;
    top : 10px;
    left : 5px;
    width : 50px;
    background-color : darkblue;
}

div#controls div.control
{
    width : 55px;
    height : 25px;
    margin : 2px;
    background-color : darkgreen;
    color : white;
    cursor : pointer;
    border : 1px solid darkgreen;
}

div#controls div.control:hover
{
    border : 1px solid white;
}

div#controls div.control.disabled
{
    color : grey;
    background-color : darkgrey;
}

div#controls div.control.disabled:hover
{
    border : 1px solid green;
}

div#maplist
{
    position : absolute;
    top : 10px;
    right : 320px;
}

div#maplist select
{
    width : 120px;
    background-color : white;
    height : 20px;
    display : inline-block;
}

div.button
{
    display : inline-block;
    padding : 3px;
    border : 1px solid black;
    color : white;
    font-weight : bold;
    font-size : 12px;
    background-color : green;
    min-width : 50px;
    text-align : center;
}

div.button:hover
{
    background-color : lightgreen;
    cursor : pointer;
}

div#selected
{
    position : absolute;
    top : 10px;
    bottom : 10px;
    right : 10px;
    width : 300px;
    background-color : black;
}

div#selected div.name
{
    
}

div.selected_objects_list
{
    position : absolute;
    top : 50px;
    right : 350px;
    width : 200px;
    border : 1px solid white;
    background-color : black;
}

div.selected_objects_list div.selected_item
{
    width : 190px;
    height : 15px;
    color : white;
    font-size : 12px;
    color : grey;
    cursor : pointer;
}

div.selected_objects_list div.selected_item:hover
{
    color : white;
}


div.editable
{
    left : 10px;
    bottom : 10px;
    background-color : black;
    border : 1px solid white;
    width : 240px;
    color : white;
    padding : 3px;
}

div.editable textarea
{
    width : 100%;
    height : 20%;
}

div#editable div.position
{
    width : 250px;
}

div#editable div.position label
{
    width : 50px;
    display: inline-block;
}
