<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/rooms_admin/css/rooms_admin.css"/>
    <script src="/static/rooms_admin/js/jquery-1.9.1.js"></script>
    <script src="/static/rooms_admin/js/jquery.mousewheel.js"></script>
    <script src="/static/rooms_admin/js/angular.js"></script>
    <script src="/static/rooms_admin/js/angular-route.js"></script>

    <script src="/static/rooms_admin/js/api_rooms.js"></script>
    <script src="/static/rooms_admin/js/admin_gui.js"></script>
    <script src="/static/rooms_admin/js/admin_game_client.js"></script>

    <script src="/static/rooms_admin/js/rooms_admin.js"></script>
</head>

<body ng-app="RoomsAdmin">

<div class="rooms_admin">
    <h1>Rooms Admin Interface</h1>

    <div class="pageheader">
        <a href="#/nodes">
            <div class="link"><span>Nodes</span></div>
        </a>
        <a href="#/games">
            <div class="link"><span>Games</span></div>
        </a>
    </div>

    <div ng-view></div>
</div>

</body>

</html>
