<div class="gameview">
    <canvas id="screen">
    </canvas>
    <div id="actor_list" ng-show="actor_list">
        <div>Select Actor:</div>
        <hr></hr>
        <div class="listed_actor" ng-repeat="actor in actor_list" ng-click="select_actor(actor)">{{ actor.actor_type }}</div>
    </div>
    <div id="selected_actor" ng-show="selected_actor">
        <div>Actor:  {{ selected_actor.actor_type }}</div>
        <hr></hr>
        <div ng-repeat="field in ['actor_id', 'username', 'visible', 'docked_with', 'path', 'vector', 'state']" class="field">
            <div class="name">"{{ field }}":&nbsp;</div><pre class="value">{{ selected_actor[field] | json }}</pre>
        </div>
    </div>
</div>
