
<html>

<head>
    <script src="/rooms/static/js/jquery-1.9.1.js"></script>
    <script src="/rooms/static/js/turtlegui.js"></script>

    <script src="/static/js/drawutils.js"></script>
    <script src="/static/js/netutils.js"></script>
    <script src="/static/js/gui.js"></script>
    <script src="/static/js/gui_room.js"></script>
    <script src="/static/js/gui_actors.js"></script>

    <script>
        var game_id = '{{ game_id }}';
    </script>
    <script src="/static/js/walkabout.js"></script>
</head>

<body>

<div id="main" class="style='-moz-user-select: none;-webkit-user-select: none;' onselectstart='return false;' ">
    <canvas id="screen">
    </canvas>
</div>


</body>

</html>
