
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/game.css"/>

    <script
      src="https://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
          crossorigin="anonymous"></script>
    <script src="https://rawgit.com/gomyar/turtlegui/v0.1/turtlegui.js"></script>

    <script src="{{ url_for('node.static', filename='js/api_rooms.js') }}"></script>


    <script src="{{ url_for('static', filename='js/drawutils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/netutils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gui.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gui_room.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gui_actors.js') }}"></script>

    <script>
        var game_id = '{{ game_id }}';
    </script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
</head>

<body>

<div id="main" class="style='-moz-user-select: none;-webkit-user-select: none;' onselectstart='return false;' ">
    <canvas id="screen">
    </canvas>
</div>


</body>

</html>
