<html>

<head>
    <link rel="stylesheet" type="text/css" href="/static/css/gameadmin.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/game.css"/>

    <script
      src="https://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
          crossorigin="anonymous"></script>
    <script src="https://rawgit.com/gomyar/turtlegui/v0.1/turtlegui.js"></script>
 
    <script src="/static/js/netutils.js"></script>
    <script src="/static/js/index.js"></script>
</head>

<body>

Games:
<div data-gui-list="index.games" data-gui-item="game">
    <div class="game">
        <div>Game:</div>
        <div data-gui-text="game.owner_id"></div>
        <input id="btnJoin" type='button' value="Join" data-gui-click="join_game(game)"></input>
    </div>
</div>
<div data-gui-show="index.games.length == 0">No Games</div>


<input type='button' value='Create' data-gui-click='create_game()'></div>

</body>
</html>
