<html>

<head>
<link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
</head>

<div id="main">
<div id="header">
<img src="/static/login/login.png"/>
</div>

<div class="section loginsection">

<p>Register here so's you can login to play the game and get a free ship from Uncle Bob</p>
<form method="post" action="/signup/submit">
<table class="signup">
{% if user_already_exists %}
<tr><td colspan=2 class="error">That user already exists</td></tr>
{% endif %}
{% if username_missing %}
<tr><td colspan=2 class="error">Username required</td></tr>
{% endif %}
<tr><td><label for="id_username">Username:</label></td><td><input type="text" name="username" /></td></tr>
{% if password_missing %}
<tr><td colspan=2 class="error">Password required</td></tr>
{% endif %}
<tr><td><label for="id_password">Password:</label></td><td><input type="password" name="password" /></td></tr>
</table>

<input type="submit" value="Register and Go Exploring!" />
</form>

</div>
</div>


</body>
</html>
