{% extends "base.html" %}

{% block javascript %}
    <script src="/static/js/web.js"></script>
{% endblock %}

{% block main %}
<div id="title_desc">
Join an ongoing game or start your own...
</div>

{% if game %}
<div class="section">
    <div class="title">Your Current Game:</div>
    <div class="content">
    -- your game --
    </div>
</div>

{% else %}
<div class="section">
    <div class="title">Open Games:</div>
    <div class="content">
        <div id="opengames">
        {% for uid, area in areas.items %}
            <div class="area">
                {{ area.area.area_name }}
                <div class="join_link" onclick="join_game('{{ area.area_id }}');">The Mansion (open)</div> 
                <form method="post" action="/join_game">
                {% csrf_token %}
                <input type="hidden" name="area_uid" value="{{ area.area_id }}"></input> 
                <input type="submit" value="Join"></input>
                </form>

            </div>
        {% endfor %}
        {% if not areas %}
        No Open Games
        {% endif %}
        </div>

    </div>
</div>

<div class="section">
    <div class="title">Start a new Game:</div>
    <div class="content">
        <div id="create_area">
        <form method="post" action="/create_area">
            {% csrf_token %}
            <input type="submit" value="Start New Game"></input>
        </form>
        </div>
    </div>
</div>

{% endif %}


{% endblock %}
