<html>

<script src="/static/js/jquery-1.4.4.min.js"></script>
<script>
function join(instance_id)
{
    jQuery.post("/join_instance", { instance_uid: instance_uid }, function () { console.log("Ok"); });
}

</script>

<body>

<h2>Instances:</h2>

<ul>
{% for instance in instances %}
<li><span>{{ instance.map_id }}</span>
    <span>Players: {{ instance.players }}</span>
    <form method="post" action="/join_instance">
    {% csrf_token %}
    <input type="hidden" name="instance_uid" value="{{ instance.uid }}"></input> 
    <input type="submit" value="Join"></input>
    </form>
</li>
{% endfor %}
</ul>

<form method="post" action="/create_instance">
    {% csrf_token %}
    <select name="map_id">
        {% for map in available_maps %}
            <option value="{{ map.area_id }}">{{ map.area_name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Create"></input>
</form>

</body>
</html>
