{% extends "base.html" %}

{% block js %}
<script src="/static/walkabout/js/index.js"></script>
{% endblock %}

{% block content %}

<h1 id="maintitle">Walkabout</h1>

<div>
    <div id="main">
        <div id="playing_games" data-gui-list="index.playing_games" data-itervar="game">
            <div class="game">
                <div class="owner" data-gui-text="game.owner_username"></div>
                <input type="button" data-gui-click="index.play_game(game.game_id)" value="Play"></input>
            </div>
        </div>

        <div id="available_games" data-gui-list="index.available_games" data-itervar="game">
            <div class="game">
                <div class="owner" data-gui-text="game.owner_username"></div>
                <input type="button" data-gui-click="index.join_game(game.game_id)" value="Join"></input>
            </div>
        </div>

        <div id="create_game">
            <input type="button" data-gui-click="index.create_game()" value="Create Game"></input>
        </div>
    </div>
</div>

{% endblock %}
