<div>
    <h2>Started Games</h2>
    <div class="gamelist">
        <div class="game" ng-repeat="game in managed_games">
            <div>{{ game.game_id }}</div>
            <div>{{ game.owner_id }}</div>
            <input name="join_game" type="button" ng-click="games.join_game(game.game_id)" value="Join"></input>
        </div>
    </div>

    <h2>Playing Games</h2>
    <div class="gamelist">
        <div class="game" ng-repeat="game in playing_games">
            <div>{{ game.game_id }} - owned by {{ game.owner_id }}</div>
            <input name="play_game" type="button" ng-click="games.play_game(game.game_id)" value="play"></input>
        </div>
    </div>

    <input name="create_game" type="button" value="Create Game" ng-click="games.create()"></input>
</div>
