<html>

<head>

    <link rel="stylesheet" type="text/css" href="{{ url_for('admin.static', filename = 'css/admin.css') }}"/>
    <script src="{{ url_for('node.static', filename = 'js/jquery-1.9.1.js') }}"></script>
    <script src="https://rawgit.com/gomyar/turtlegui/v4.0.4/turtlegui.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('node.static', filename = 'js/api_rooms.js') }}"></script>

    <script src="{{ url_for('admin.static', filename = 'js/jquery.mousewheel.js') }}"></script>
    <script src="{{ url_for('admin.static', filename = 'js/admin_gui.js') }}"></script>
    <script>
        var game_id = '{{ game_id }}';
        var room_id = '{{ room_id }}';
    </script>
    <script src="{{ url_for('admin.static', filename = 'js/admin_game_client.js') }}"></script>
<head>

<body>

<div class="gameview">
    <canvas id="screen">
    </canvas>
    <div id="actor_list" gui-show="admin.actor_list.length > 0">
        <div class="title">Select Actor:</div>
        <hr></hr>
        <div gui-list="admin.actor_list" data-gui-item="actor">
            <div  gui-class="actor.actor_type=='player'?'player':''" class="listed_actor" data-gui-click="admin.select_actor(actor)">
                <div gui-text="actor.actor_type"></div>:<div data-gui-text="actor.script"></div> <div data-gui-text="actor.username ? '(' + actor.username + ')' : ''"></div>
            </div>
        </div>
    </div>
    <div id="selected_actor" gui-show="admin.selected_actor">
        <div class="title" gui-class="admin.selected_actor.actor_type=='player'?'player':''">Actor:  <div data-gui-text="admin.selected_actor.actor_type + admin.selected_actor.username"></div></div>
        <hr></hr>
        <div gui-list="['actor_id', 'username', 'visible', 'docked_with', 'path', 'vector', 'state']" data-gui-item="field">
            <div class="field">
                <div class="name" gui-text='field'></div>:&nbsp;<pre class="value" data-gui-text="JSON.stringify(admin.selected_actor[field], null, 2);"></pre>
            </div>
        </div>
        <div class="exception" gui-show="admin.selected_actor.exception">
            <hr></hr>
            <div class="exception_type" gui-text="admin.selected_actor.exception.exception"></div>
            <div class="exception_type" gui-text="admin.selected_actor.exception.message"></div>
            <div class="traceback" gui-text="admin.selected_actor.exception.traceback"></div>
        </div>

        <div class="actor_controls">
            <hr></hr>
            <button gui-click="admin.kick_actor(admin.selected_actor.actor_id)">Kick</button>
        </div>
    </div>
</div>

</body>

</html>
