<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('admin.static', filename = 'css/admin.css') }}"/>

    <script
      src="https://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
          crossorigin="anonymous"></script>
    <script src="https://rawgit.com/gomyar/turtlegui/v0.1.1/turtlegui.js" crossorigin="anonymous"></script>

    <script src="{{ url_for('admin.static', filename = 'js/rooms_admin.js') }}"></script>
</head>

<body>

<div class="rooms_admin">
    <h1>Rooms Admin Interface</h1>

    <div class="pageheader">
        <div class="link" onclick="admin.show_nodes();"><span>Nodes</span></div>
        <div class="link" onclick="admin.show_games();"><span>Games</span></div>
        <div class="link" onclick="admin.show_rooms();"><span>Items</span></div>
    </div>

    <div>
        <div data-gui-show="admin.data.tab=='nodes'">
            <div data-gui-include="{{ url_for('admin.static', filename='html/nodes.html') }}"></div>
        </div>
        <div data-gui-show="admin.data.tab=='games'">
            <div data-gui-include="{{ url_for('admin.static', filename='html/games.html') }}"></div>
        </div>
        <div data-gui-show="admin.data.tab=='items'">
            <div data-gui-include="{{ url_for('admin.static', filename='html/items.html') }}"></div>
        </div>
    </div>
</div>

</body>

</html>
