<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/rooms_mapeditor/css/mapeditor.css"/>
    <script src="/static/rooms_jsclient/jquery/jquery-1.9.1.js"></script>
    <script src="/static/rooms_jsclient/jquery/jquery.mousewheel.js"></script>
    <script src="/static/rooms_jsclient/angular/angular.js"></script>
    <script src="/static/rooms_jsclient/angular/angular-route.js"></script>

    <script src="/static/rooms_mapeditor/js/mapeditor.js"></script>
    <script src="/static/rooms_mapeditor/js/mapedit_gui.js"></script>
</head>

<body ng-app="RoomsMapEditor">

<div ng-controller="MapEditCtrl" id="mapeditor">
    <div id="controls">
        <div id="select" class="control">Select</div>
        <div id="newroom" class="control">New Room</div>
        <div id="newobj" class="control">New Object</div>
        <div id="newtag" class="control">New Tag</div>
        <div id="delete" class="control">Delete</div>
    </div>

    <div id="mainmap">
        <canvas id="screen"></canvas>
    </div>

    <div id="maplist">
        <div class="button" ng-click="create_map()">Create Map</div>
        <select ng-options="map_id as map_id for map_id in all_maps track by map_id" ng-model="selected_map">
        </select>
        <div class="button" ng-click="load_selected_map()">Load</div>
    </div>

    <div id="selected_rooms_list" class="selected_objects_list" ng-show="selected_rooms_list">
        <div ng-repeat="room_id in selected_rooms_list" class="selected_item">
           {{ room_id }}
        </div>
    </div>

    <div id="selected_objects_list" class="selected_objects_list" ng-show="selected_objects_list">
        <div ng-repeat="object_id in selected_objects_list" class="selected_item">
            argle {{ object_id }}
        </div>
    </div>


    <div id="selected">
        <div id="selectedroom">
            <div class="field">
                <div class="name">room_id</div>
                <input id="room_id" class="value"></input>
            </div>
        </div>
        <div id="selectedobj">
        </div>
        <div id="selectedtag">
        </div>
    </div>
</div>



</body>

<body>

</body>
</html>
