<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('mapeditor.static', filename = 'css/mapeditor.css') }}"/>
    <script src="{{ url_for('node.static', filename = 'js/jquery-1.9.1.js') }}"></script>
    <script src="{{ url_for('node.static', filename = 'js/turtlegui.js') }}"></script>
    <script src="{{ url_for('admin.static', filename = 'js/jquery.mousewheel.js') }}"></script>

    <script src="{{ url_for('mapeditor.static', filename = 'js/mapeditor.js') }}"></script>
    <script src="{{ url_for('mapeditor.static', filename = 'js/mapedit_gui.js') }}"></script>
</head>

<body>

<div id="mapeditor">
    <div id="controls">
        <div id="select" class="control">Select</div>
        <div id="newroom" class="control" data-gui-click="rooms_mapeditor.create_room()">New Room</div>
        <div id="newdoor" class="control" data-gui-click="rooms_mapeditor.create_door()">New Door</div>
        <div id="newobj" class="control" data-gui-click="rooms_mapeditor.create_object()">New Object</div>
        <div id="newtag" class="control" data-gui-click="rooms_mapeditor.create_tag()">New Tag</div>
        <div id="delete" class="control" data-gui-click="rooms_mapeditor.delete()">Delete</div>
        <div id="grid">
            <label>Grid</label>
            <input id="chk_grid_enabled" type="checkbox" data-gui-val="rooms_mapeditor.grid_enabled"></input>
            <input id="txt_grid" type="text" data-gui-val="rooms_mapeditor.grid" data-gui-change="rooms_mapeditor.grid = $('#txt_grid').val()" value="1.0"></input>
        </div>
    </div>

    <div id="mainmap">
        <canvas  style='-moz-user-select: none;-webkit-user-select: none;' id="screen"></canvas>

    </div>

    <div id="maplist">
        <div class="button" data-gui-click="rooms_mapeditor.create_map()">Create Map</div>
        <select id="all_maps" data-gui-list="rooms_mapeditor.all_maps" data-gui-item="map" data-gui-change="rooms_mapeditor.selected_map = $('#all_maps').val()">
            <option data-gui-val="map" data-gui-text="map"></option>
        </select>
        <div class="button" data-gui-click="rooms_mapeditor.load_selected_map()">Load</div>
        <div class="button" data-gui-click="rooms_mapeditor.save_map()">Save</div>
    </div>

    <div id="selected_rooms_list" class="selected_objects_list" data-gui-show="rooms_mapeditor.selected_rooms_list">
        <div data-gui-list="rooms_mapeditor.selected_rooms_list" data-gui-item="room" class="selected_item">
            <div  data-gui-click="rooms_mapeditor.select_room(room.room_id)">
                Room: <div data-gui-text="room.room_id"></div>
            </div>
        </div>
    </div>

    <div id="selected_objects_list" class="selected_objects_list" data-gui-show="rooms_mapeditor.selected_objects_list" ng-style="{left: selected_objects_list_x + 20, top: selected_objects_list_y }">
        <div data-gui-list="rooms_mapeditor.selected_objects_list" data-gui-item="obj" class="selected_item" mouseenter="highlight_object(obj)" data-gui-click="rooms_mapeditor.select_object(obj)">
            <span data-gui-text="obj.object_type"></span>
        </div>
    </div>


    <div id="selected">
        <div class="editable" id="selectedroom">
            <div class="label">Room Details:</div>
            <div class="field">
                <div class="name">room_id</div>
                <input id="room_id" class="value" data-gui-val="rooms_mapeditor.selected_room.room_id"></input>
            </div>
        </div>


        <div class="editable" data-gui-show="rooms_mapeditor.editable_object && 'position' in rooms_mapeditor.editable_object">
            <div class="label">Position:</div>
            <div class="topleft">
                <div class="position">
                    <label name="x">X:</label>
                    <input type="text" data-gui-val="rooms_mapeditor.editable_object.position.x" data-gui-parse-func="parseFloat"></input>
                </div>
                <div class="position">
                    <label name="y">Y:</label>
                    <input type="text" data-gui-val="rooms_mapeditor.editable_object.position.y" data-gui-parse-func="parseFloat"></input>
                </div>
                <div class="position">
                    <label name="width">Width:</label>
                    <input type="text" data-gui-val="rooms_mapeditor.editable_object.width" data-gui-parse-func="parseFloat"></input>
                </div>
                <div class="position">
                    <label name="height">Height:</label>
                    <input type="text" data-gui-val="rooms_mapeditor.editable_object.height" data-gui-parse-func="parseFloat"></input>
                </div>

            </div>
            <div class="label">(ctrl-drag object to resize)</div>
        </div>

        <div class="editable" id="editable_object" data-gui-show="rooms_mapeditor.editable_object && rooms_mapeditor.selected_room && rooms_mapeditor.selected_room.data.room_objects.indexOf(rooms_mapeditor.editable_object) != -1">
            <div class="label">Object Data:</div>
            <div class="position">
                <label name="width">Object Type:</label>
                <input type="text" data-gui-val="rooms_mapeditor.editable_object.object_type"></input>
            </div>
            <textarea name="objdata" data-gui-val="rooms_mapeditor.editable_object.data" data-gui-parse-func="JSON.parse" data-gui-format-func="rooms_mapeditor.format_json"></textarea>
        </div>
        <div class="editable" id="editable_object" data-gui-show="rooms_mapeditor.editable_object && rooms_mapeditor.selected_room && rooms_mapeditor.selected_room.data.doors.indexOf(rooms_mapeditor.editable_object) != -1">
            <div class="label">Door Data:</div>
            <div class="position">
                <label name="x">Exit X:</label>
                <input type="text" data-gui-val="rooms_mapeditor.editable_object.exit_position.x" data-gui-parse-func="parseFloat"></input>
            </div>
            <div class="position">
                <label name="y">Exit Y:</label>
                <input type="text" data-gui-val="rooms_mapeditor.editable_object.exit_position.y" data-gui-parse-func="parseFloat"></input>
            </div>
            <div class="position">
                <label name="width">Exit Room ID:</label>
                <input type="text" data-gui-val="rooms_mapeditor.editable_object.exit_room_id"></input>
            </div>
 
        </div>
        <div class="editable" id="editable_tag" data-gui-show="rooms_mapeditor.editable_object && rooms_mapeditor.selected_room && rooms_mapeditor.selected_room.data.tags.indexOf(rooms_mapeditor.editable_object) != -1">
            <div class="position">
                <label name="width">Tag ID:</label>
                <input type="text" data-gui-val="rooms_mapeditor.editable_object.tag_type"></input>
            </div>
            <textarea name="objdata" data-gui-val="rooms_mapeditor.editable_object.data" data-gui-parse-func="JSON.parse" data-gui-format-func="rooms_mapeditor.format_json"></textarea>
        </div>
    </div>

</div>


</body>

<body>

</body>
</html>
