body
{
    padding : 0px;
    margin : 0px;
    border : 0px;
    font-family : helvetica;
    color : white;
    background-color : black;
}

#screen
{
    position : absolute;
    top : 0px;
    left : 0px;
}

div#main
{
    position : absolute;
    top : 0px;
    left : 0px;
    right : 0px;
    bottom : 15px;
}

div.actor_commands
{
    position : absolute;
    width : 100px;
    background-color : blue;
    color : white;
    font-style : bold;
}

div.actor_commands div.command_button
{
    height : 20px;
    background-color : darkblue;
    cursor : pointer;
    margin : 1px solid blue;
}

div.actor_commands div.command_button:hover
{
    margin : 1px solid white;
    background-color : blue;
}

div#logOuter
{
    position : absolute;
    width : 350px;
    top : 0px;
    right : 0px;
    bottom : 15px;
    background-color : black;
    overflow : hidden;
}

div#logOuter div#log
{
    height : 100%;
    overflow : scroll;
    text-indent: 10px;
}

div#logOuter div#logTitle
{
    font-size: 12px;
    border-top : 1px solid grey;
    border-bottom : 1px solid grey;
}


div#logOuter div#log div.logEntry
{
    color : white;
    font-size : 12px;
}

div#logOuter div#log div.logEntry div.logTime
{
    display : inline;
    width : 50px;
    margin-right : 10px;
}

div#logOuter div#log div.logEntry div.logText
{
    display : inline;
}

div#chatOuter
{
    background-color : black;
    position : absolute;
    bottom : 0px;
    width : 350px;
    height : 200px;
    overflow : hidden;
    border-left : 1px solid grey;
    border-right : 1px solid grey;
}

div#chatText
{
    width : 100%;
    height : 100px;
    font-size: 12px;
    border-top : 1px solid grey;
    border-bottom : 1px solid grey;
    color : white;
}

div#chatChoices
{
    font-size: 12px;
    width : 100%;
    height : 100px;
}

div#chatChoices div.chatChoice
{
    font-weight : bold;
    cursor: pointer;
}

div#mainMenu
{
    position : absolute;
    bottom : 0px;
    width : 100%;
    height : 15px;
    border-top : 1px solid grey;
    border-bottom : 1px solid grey;
    background-color : black;
}

div.menu
{
    border-left : 1px solid grey;
    border-right : 1px solid grey;
}

div.menutitle
{
    width : 100px;
    color : white;
    font-style : italic;
    font-size : 12px;
}

div.menutitle:hover
{
    background-color : grey;
    font-weight : bold;
    cursor : pointer;
}

div.menudropdown
{
    float : left;

}

div.menuitem
{
    float: left;
    font-size : 12px;
    width : 100px;
    text-align : center;
    border-left : 1px solid grey;
    border-right : 1px solid grey;
}

div.menuitem:hover
{
    background-color : grey;
    font-weight : bold;
    cursor : pointer;
}

div.evidence
{
    position : absolute;
    top : 0px;
    bottom : 0px;
    width : 350px;
    background-color : black;
    border-right : 1px solid grey;
    font-size : 12px;
}

div.evidence_item
{
    width : 100%;
    height : 54px;
}

div.evidence_item div.profile
{
    float : left;
    width : 50px;
    height : 50px;
    margin : 2px;
    background-image : url('/character_models/base_profile.png');
    background-repeat : no-repeat;
}

div.evidence_item div.category
{
    float : left;
    font-weight : bold;
    font-style : italic;
    width : 280px;
    height : 15px;
}

div.evidence_item div.category.means
{
    color : blue;
}

div.evidence_item div.category.motive
{
    color : yellow;
}

div.evidence_item div.category.opportunity
{
    color : orange;
}

div.evidence_item div.description
{
    float : left;
    font-weight : bold;
    width : 280px;
    min-height : 40px;
}

div.scripts
{
    position : absolute;
    height : 100%;
    width : 350px;
    background-color : black;
    border-right : 1px solid grey;
    font-size : 12px;
}

div.actor_scripts
{
    position : absolute;
    width : 350px;
    height : 50%;
    background-color : black;
    border-right : 1px solid grey;
    font-size : 12px;
    overflow: scroll;
}

div.scripts_file
{
    width : 100%;
    color : lightgrey;
}

div.scripts_file:hover
{
    color : white;
    font-weight : bold;
    cursor : pointer;
}

div.scriptedit
{
    position : absolute;
    top : 0px;
    bottom : 0px;
    width : 700px;
    background-color : white;
    font-size : 12px;
    color : black;
}

textarea.editor
{
    position : absolute;
    top : 0px;
    height : 600px;
    width : 700px;
}

div.savebutton
{
    position : absolute;
    bottom : 0px;
    display : block;
    width : 100px;
    height : 20px;
    background-color : grey;
    color : black;
    text-align : center;
}

div.savebutton:hover
{
    font-weight : bold;
    cursor : pointer;
}

div.closebutton
{
    position : absolute;
    bottom : 0px;
    left : 100px;
    display : block;
    width : 100px;
    height : 20px;
    background-color : grey;
    color : black;
    text-align : center;
}

div.closebutton:hover
{
    font-weight : bold;
    cursor : pointer;
}

div.chat_scripts
{
    position : absolute;
    top : 50%;
    height : 50%;
    width : 350px;
    background-color : grey;
    border-right : 1px solid grey;
    font-size : 12px;
    overflow: scroll;
}

div.buttonmenu
{
    bottom : 0px;
    width : 100%;
    height : 20px;
}

div.sbutton
{
    float : left;
    height : 20px;
    width : 50px;
    border : 1px solid white;
    background-color : black;
}

div.chatedit
{
    position : absolute;
    top : 0px;
    bottom : 0px;
    width : 700px;
    background-color : white;
    font-size : 12px;
    color : black;
}

div.chatcontainer
{
    position : absolute;
    top : 0px;
    bottom : 0px;
    width : 700px;
    overflow : scroll;
    margin-bottom : 20px;
}

div.admin_chat_choice
{
    background-color : lightblue;
    border-left : 1px solid black;
}

div.admin_chat_choice div.chat_entry
{
    margin : 2px dolis white;
}

div.admin_chat_choice div.button
{
    font-style : italic;
    text-decoration : underline;
    cursor : pointer;
    display: inline;
    margin: 2px;
}

div.admin_chat_choice div.button:hover
{
    font-weight : bold;
}

div.admin_chat_choice .request
{
    font-weight : bold;
    width : 100%;
    resize : none;
}

div.admin_chat_choice .response
{
    font-style : italic;
    width : 100%;
    resize : none;
}

div.admin_chat_choice div.script_function
{
    cursor : pointer;
}

div.admin_chat_choice div.choices
{
    margin-left : 20px;
}

div.admin_chat_choice div.add_button
{
    text-decoration: underline;
    color : blue;
    cursor : pointer;
    margin-left : 20px;
    border-left : 1px solid black;
}

div.admin_chat_choice div.add_button:hover
{
    font-weight : bold;
}

div.admin_chat_choice div.choice_control
{
    text-align : right;
}
