
body
{
    font-family : arial;
    font-weight : bold;
    font-size : 10px;
    color : white;
}

div.rooms_admin h1
{
    font-size : 18px;
    margin : 10px;
}

a
{
    text-decoration : none;
}

div.pageheader
{
    width : 100%;
    margin : 5px;
    color : white;
}

div.pageheader div.link
{
    color : white;
    display : inline-block;
    width : 100px;
    height : 30px;
    text-align : center;
    font-weight : bold;
    border : 1px solid black;
    background-color : blue;
    padding-top : 12px;
}

div.pageheader div.link:hover
{
    background-color : lightblue;
}

div.tableheader
{
    font-weight : bold;
}


/* nodes.html */

div.node
{
    background-color : lightblue;
}

div.node div
{
    margin : 10px;    
    display : inline-block;
}

div.node div.hostname
{
    width : 200px;
}

div.node div.load
{
    width : 50px;
}

div.node div.shownode
{
}

div.button
{
    padding : 3px;
    border : 1px solid black;
    color : white;
    font-weight : bold;
    background-color : green;
    min-width : 50px;
    text-align : center;
    width : 100px;
}
    
div.button:hover
{
    background-color : lightgreen;
    cursor : pointer;
}

/* rooms.html */

div.room_info
{
    border : 1px solid black;
    background-color : lightgreen;
}

div.room_info div
{
    margin : 10px;
    display : inline-block;
}

div.room_info div.gameid
{
    width : 200px;
}

div.room_info div.roomid
{
    width : 100px;
}


/* items.html */

div.item
{
    background-color : lightblue;
}

div.item div
{
    margin : 10px;    
    display : inline-block;
}

div.item div.category
{
    width : 200px;
}

div.item div.item_type
{
    width : 150px;
}

div.itemcreate
{
    width : 100px;
    margin : 5px;
}

div.items_section
{
    width : 400px;

}

div.items_section_right
{
    width : 400px;
    position : absolute;
    top : 100px;
    right : 10px;
}

div.newfield
{
    width : 80px;
    margin : 10px;
    height : 10px;
    font-size : 10px;
    font-weight : none;
}



/* edititem.html */

div.itemform
{
    background-color : lightblue;
}

div.itemform
{
    padding : 10px;
    width : 420px;
}

div.itemform div
{
    margin : 2px;    
    display : inline-block;
}

div.itemform div.field
{
    width : 400px;
    display : block;
}

div.itemform div.field div.label
{
    width : 170px;
}


div.itemform div.category
{
    width : 200px;
}

div.itemform div.item_type
{
    width : 150px;
}

div.itemsave
{
    width : 100px;
    margin : 5px;
}

div.itemcancel
{
    width : 100px;
    margin : 5px;
}

/* game screen */
div.gameview
{
    position : absolute;
    width : auto;
    height : auto;
    top : 100;
    bottom : 10;
    left : 10;
    right : 10;
}

canvas#screen
{
    background-color : black;
}


div#actor_list
{
    position : absolute;
    top : 10px;
    left : 10px;
    bottom : 10px;
    width : 100px;
    background-color : black;
    border : 1px solid white;
}

div#selected_actor
{
    position : absolute;
    top : 10px;
    right : 10px;
    bottom : 10px;
    width : 300px;
    background-color : black;
    border : 1px solid white;
    overflow : auto;
}
